/*COLORES*/
:root{
  --rojoPrincipal: #CB123F;
  --rojoSecundario: #BC1733;
  --azulBotones: #3D97CB;
  --fondoGris: #717070;
  --searchBar: #E6E6E6;
  --crema: #C68C68;
  --cafe: #805721;
  --grisCard: #f4f2f4;
  --grisObscuro: #ACACAC;
}

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--rojoPrincipal) ; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--rojoPrincipal); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--rojoSecundario); 
}

/*
::-webkit-scrollbar {
    display: none;
}
*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

*,*:before,*:after{
    box-sizing: inherit;
}

img{
  max-width: 100%;
  max-height: 25rem;
}

a{
  text-decoration: none;
}



#firmaAutor{
  background-color: #EDE75D;
  color: #805721;
  border-radius: 20px;
}


#textoPDF{
  color: #717070;
}

#textoPDF a{
  text-decoration: none;
}

.figure{
  position: relative;
  height: 17rem;
  width: 17rem;
  overflow: hidden;
  cursor: pointer;
}

.figure .card-img-top{
  width: 200px;
  height: 250px;
  margin-left: 0px;
  margin-top: 20px;
  transition: all 500ms ease-out;
}

.figure .capa{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  background-color: #F4F3F4;
}

.container .figure:hover >.capa{
  opacity: 1;
  visibility: visible;
}




.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #F4F3F4;
  background-clip: border-box;
  border: 1px solid rgb(0,0,0m,.125);
  border-radius: 20px;
  width: 17rem;
}

.card-body{
  padding: 1.25rem;
  flex: 1 1 auto;
}

.btnS1{
  color: blanchedalmond;
  background-color: #CB123F;
  border-color: #CB123F;
  border-style: solid;
  border-radius: 35px;
  margin-left: 10px;
  
}

.btnS2{
  color: blanchedalmond;
  background-color: #3D97CB;
  border-color: #3D97CB;
  border-style: solid;
  border-radius: 35px;
  margin-left: 3px;
}


.card-title{
  color:   #333333;
}

#autor{
  color: #808081;
}

.container{
  padding-top: 5rem;
  width: 70%;
  display: flex;
}





/*Clases Rodrigo*/

.header{
  display: flex;
}

.logo{
  margin: 6.8rem 8.1rem 6rem 7rem;
  height: 8rem;
  width: 8rem;
}

.search-container{
  margin: 8.5rem 2rem 7rem 0rem;
  background-color: var(--searchBar);
  padding: 0.7rem;
  height: 4rem;
  width: 40rem;
  border: 1px solid var(--searchBar);
  border-radius: 5rem;
}

.search-input{
  border: none;
  width: 90%;
  background-color: var(--searchBar);
}

.icon-search{
  color: var(--rojoPrincipal);
  background-color: var(--searchBar);
  border: none;
  border-left: 1px solid #858484;
}

.header-options{
  display: flex;
  margin: 8.5rem 5rem;
  color: var(--rojoPrincipal);
}

.header-option{
  display: flex;
  margin: 0 2rem;
  padding: 0.7rem 0.7rem;
  height: 4rem;
  border: 1px solid white;
  border-radius: 5rem;
  width: auto;
}

.header-option > img{
  margin: 0 1rem;
}

.header-option > p{
  margin: 0 0.5rem;
}

.header-option:hover{
  background-color: var(--rojoSecundario);
  color: white;
}

.icono-header{
  height: 0.3rem;
  width: 0.3rem;
  padding: 0.3rem;
  margin-right: 2rem;
}

.navBar{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--rojoPrincipal);
  color: white;
  padding: 1rem;
}

.navItem{
  border-left: 1px solid white;
}

.navItem:first-of-type{
  border: none;
}

.navItem>a{
  border: none;
  text-decoration: none;
  color: white;
  padding: 0px 3.4rem;
}

.navItem>a:hover,
#dropdownMenuButton1:hover{
  color: var(--rojoPrincipal);
  background-color: white;
  border-radius: 1rem;
  
}


#dropdownMenuButton1{
  background-color: transparent;
  border: none;
  padding: 0px 3.4rem;
  color: white;
}


.dropdown-item{
  border-bottom: 1px solid #CB123F;
  font-size: 1.5rem;
}


body > div > div:nth-child(3) > ul > li:nth-child(4) > a{
  border: none;
}

.dropdown-item:hover{
  background-color: #CF9E7D;
  color: white;

}

.carousel{
    width: 80%;
    margin: 6rem 5%;
    height: 25rem;
}


.contenedor-main1{
  display: flex;
}

.contenedorIconos{
  display: flex;
  flex-direction: column;
  margin: 10rem 5% 0 0.5%;
  font-size: xx-large;
}

.iconoRedes{
  color: var(--crema);
}


.iconoRedes:hover{
  color: var(--cafe);
  
}

#contenedor-main2{
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
}

.d-block{
  border-radius: 5rem;
  
}

.anuncios-main{
  width: 30%; 
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: var(--grisCard);
  margin-top: 4rem;
  padding: 4rem;
}

.footer-Section,
.footer-Section>a{
  color: var(--grisObscuro);
}


.iconosFooter{
  height: 0.3rem;
  width: 0.3rem;
  padding: 0.3rem;
  margin-right: 5rem;
  font-size: 3rem;
}


.footer-Section>a:hover,
.iconosFooter:hover{
  color: var(--crema);
}


