/*COLORES*/
:root{
    --rojoPrincipal: #CB123F;
    --rojoSecundario: #BC1733;
    --azulBotones: #3D97CB;
    --fondoGris: #717070;
    --searchBar: #E6E6E6;
    --crema: #C68C68;
    --cafe: #805721;
    --grisCard: #f4f2f4;
    --grisObscuro: #ACACAC;
  }
  
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px var(--rojoPrincipal) ; 
      border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: var(--rojoPrincipal); 
      border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: var(--rojoSecundario); 
  }
  
  /*
  ::-webkit-scrollbar {
      display: none;
  }
  */
  
  html{
      box-sizing: border-box;
      font-size: 62.5%;
  }
  
  body{
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
  }

  html, 
  body {
    height: 100%;
}
  
  *,*:before,*:after{
      box-sizing: inherit;
  }
  
  img{
    max-width: 100%;
    max-height: 25rem;
  }
  
  a{
    text-decoration: none;
  }
  
  .containerProductos{
      margin-top: 12.5rem;
      margin-right: 15rem;
      width: 150rem;
      display: flex;
      margin-left: 40rem;
    }
  
    .catalogoP{
      float: left;
      width: 87.5rem;
      height: auto;
      margin-left: 25rem;
      transition: 0.4s;
    }
    
  #textoPDF a{
    text-decoration: none;
  }
  
  .figure{
    position: relative;
    height: 17rem;
    width: 17rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .figure .card-img-top{
    width: 14rem;
    height: 16rem;
    margin-left: -1.5rem;
    transition: all 500ms ease-out;
  }
  
  .figure .capa{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #F4F3F4;
    margin-left: -2rem;
  }
  
.containerProductos .figure:hover >.capa{
    opacity: 1;
    visibility: visible;
}

.figure .capa #textoPDF{
  color: #717070;
  text-align: center;
  margin-left: 2rem;
}
  
.figure .capa #firmaAutor{
  background-color: #EDE75D;
  color: #805721;
  border-radius: 1.5rem;
  margin-left: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
    
    
  
  
  /*clase Juan*/
  
  .card{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #F4F3F4;
      background-clip: border-box;
      border: 1px solid rgb(0,0,0m,.125);
      border-radius: 1.5rem;
      width: 25rem;
      height: 36rem;
      margin-block: 1rem;
    }
    
    .card-body{
      padding: 1.25rem;
      flex: 1 1 auto;
    }
    
    .btnS1{
      color: blanchedalmond;
      background-color: #CB123F;
      border-color: #CB123F;
      border-style: solid;
      border-radius: 2.18rem;
      margin-left: 0.6rem;
      
    }
    
    .btnS2{
      color: blanchedalmond;
      background-color: #3D97CB;
      border-color: #3D97CB;
      border-style: solid;
      border-radius: 2.18rem;
      margin-left: 0.18rem;
    }
    
    #carrito{
  
      margin-left: 200rem;
      height: 120rem;
      background-color: #E6E6E6;
      position: absolute;
      display: none;
      width: 30rem;
    }
    
    
  .card-title{
      color:   #333333;
    }
    
    #autor{
      color: #808081;
      font-size: x-large;
    }
    
    .container{
      padding-top: 5rem;
      width: 70%;
      display: flex;
    }
    
    .container #seccion{
      height: 18.75rem;
    
    }
    
    .btnVermas{
      font-size: relative;
      border: none;
    }
    .detallesLibro{
      height: 40rem;
      width: auto;
      margin-top: 10rem;
      margin-left: 15%;
      
    }
    #asideIzq{
      width: 30rem; 
      height: 40rem;  
      float: left;
    }
    
    #infoLibro{
      width: 37.5rem;
      height: 31.25rem;
      float: left;
      text-align: justify;
      margin-left: 30rem;
    }
    
    #asideDer{
      margin-right: 1.87;
      width: 25rem; 
      height: 31.25rem;  
      float: left;
      margin-left: 40rem;
    }
    
    #nombreLibro{
      text-align: center;
      font-size: medium;
    }
    .imgDetallesLibro{
      width: 15rem;
      height: 18rem;
      margin-left: 7rem;
    }
    
    .btnS1D{
      color: #CB123F ;
      background-color: rgb(228, 172, 172);
      border-color: rgb(228, 172, 172);
      border-style: solid;
      border-radius: 35px;
      margin-top: 1rem;
      margin-left: 6rem;
      margin-bottom: 0.6rem;
      opacity: 2;
      float: float;
      text-decoration:none;
    }
    
    .btnS1D:hover{
      background-color: var(--rojoSecundario);
      color: white;
      border-color: #CB123F ;
    }
    
    
    #detallesLibroPrecio{
      padding-top: 5px;
      color: #CB123F;
      margin-left: 8rem;
      margin-bottom: 0.6rem;
      padding-top: 1rem;
      font-size: x-large;
      
    }
    
    #iconoAutor,
    #iconoISBN,
    #iconoColeccion,
    #iconoNumEd,
    #iconoPags{
      width: 9rem;
      height: 7rem;
    }
    
.btn-group{
  height: 4rem;
}

#detallesLibroCantidad{
  font-size: large;
}

    #tablaDetalles{
      color: #717070;
      margin-left: 0.18rem;
      height: 12.5rem;
      width: 40rem;
    }
    
    #borderTabla{
      border-color: #717070;
      border-radius: 1em;
      border-style: solid;
      width: 40rem;
    }
    
    
    
  
  
  
  
  /*Clases Rodrigo*/
  
  .header{
    display: flex;
  }
  
  .logo{
    margin: 6.8rem 8.1rem 6rem 7rem;
    height: 8rem;
    width: 8rem;
  }
  
  .search-container{
    margin: 8.5rem 2rem 7rem 0rem;
    background-color: var(--searchBar);
    padding: 0.7rem;
    height: 4rem;
    width: 40rem;
    border: 1px solid var(--searchBar);
    border-radius: 5rem;
  }
  
  .search-input{
    border: none;
    width: 90%;
    background-color: var(--searchBar);
  }
  
  .icon-search{
    color: var(--rojoPrincipal);
    background-color: var(--searchBar);
    border: none;
    border-left: 1px solid #858484;
  }
  
  .header-options{
    display: flex;
    margin: 8.5rem 5rem;
    color: var(--rojoPrincipal);
  }
  
  .header-option{
    display: flex;
    margin: 0 2rem;
    padding: 0.7rem 0.7rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 5rem;
    width: auto;
  }
  
  .header-option > img{
    margin: 0 1rem;
  }
  
  .header-option > p{
    margin: 0 0.5rem;
  }
  
  .header-option:hover{
    background-color: var(--rojoSecundario);
    color: white;
  }
  
  .icono-header{
    height: 0.3rem;
    width: 0.3rem;
    padding: 0.3rem;
    margin-right: 2rem;
  }
  
  .navBar{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--rojoPrincipal);
    color: white;
    padding: 1rem;
  }
  
  .navItem{
    border-left: 1px solid white;
  }
  
  .navItem:first-of-type{
    border: none;
  }
  
  .navItem>a{
    border: none;
    text-decoration: none;
    color: white;
    padding: 0px 3.4rem;
  }
  
  .navItem>a:hover,
  #dropdownMenuButton1:hover{
    color: var(--rojoPrincipal);
    background-color: white;
    border-radius: 1rem;
    
  }
  
  
  #dropdownMenuButton1{
    background-color: transparent;
    border: none;
    padding: 0px 3.4rem;
    color: white;
  }
  
  
  .dropdown-item{
    border-bottom: 1px solid #CB123F;
    font-size: 1.5rem;
  }
  
  
  body > div > div:nth-child(3) > ul > li:nth-child(4) > a{
    border: none;
  }
  
  .dropdown-item:hover{
    background-color: #CF9E7D;
    color: white;
  
  }
  
  .carousel{
      width: 80%;
      margin: 6rem 5%;
      height: 25rem;
  }
  
  
  .contenedor-main1{
    display: flex;
  }
  
  .contenedorIconos{
    display: flex;
    flex-direction: column;
    margin: 10rem 5% 0 0.5%;
    font-size: xx-large;
  }
  
  .iconoRedes{
    color: var(--crema);
  }
  
  
  .iconoRedes:hover{
    color: var(--cafe);
    
  }
  
  #contenedor-main2{
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
  }
  
  .d-block{
    border-radius: 5rem;
    
  }
  
  .anuncios-main{
    width: 30%; 
  }
  
  .footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--grisCard);
    margin-top: 4rem;
    padding: 4rem;
  }
  
  .footer-Section,
  .footer-Section>a{
    color: var(--grisObscuro);
  }
  
  
  .iconosFooter{
    height: 0.3rem;
    width: 0.3rem;
    padding: 0.3rem;
    margin-right: 5rem;
    font-size: 3rem;
  }
  .footer-Section>a:hover,
  .iconosFooter:hover{
    color: var(--crema);
  }
  
.header-Login{
    display: flex;
    justify-content: space-between;  
  }

.header-item-Login{
    display: flex;
    color: var(--rojoPrincipal);
    padding: 4rem;
    font-size: 1.6rem;
}

.header-item-Login>p{
  margin-right: 5rem;
}

.icono-header-login{
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.separador-admin{
  height: 5rem;
  background-color: var(--rojoPrincipal);
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: white;
}

.separador-admin>p{
  font-size: 2rem;
  font-weight: 500;
  margin: -3px 0 0 0.5rem;
}

.header-Login>img{
  margin: 2rem 5rem 3rem 3rem;
}
.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.contenedor1-login{
  display: flex;
  justify-content: center;
  background-color: #dddadd;
  width: 35%;
  margin: 5rem 0rem 5rem 45rem;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 2rem;
}

.contenedor2-login{
  background-color: white;
  padding: 2rem 7rem 7rem 7rem;
  border-radius: 2rem;
}

.formField>input{
  border-radius: 5rem;
  width: 30rem;
  height: 3.5rem;
  margin: 2rem 0;
  padding: 1rem;
  border: none;
  background-color: #dddadd;

}

#btnLogIn{
  background-color: var(--rojoPrincipal);
  color: white;
  border: none;
  border-radius: 3rem;
  padding: 1rem 0 1rem 0;
  font-size: 1.6rem;
  width: 18rem;
}

#btnLogIn:hover{
  background-color: var(--rojoSecundario);
}
.form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contenedor-Principal-Admin{
  display: flex;
  height: inherit;
}

.contenedor-Nav-Admin{
  width: 20%;
  height: inherit;
}

.contenedor-WorkSpace-Admin{
  background-color: var(--crema);
  height: inherit;
  width: 100%;
}

.nav-item{
  background-color: var(--grisObscuro);
  display: flex;
  justify-content: center;
  height: 5rem;
  font-size: 1.6rem;
}

.nav-item:hover{
  background-color: var(--rojoSecundario);
  color: white;
}

.nav-link{
  color: white;
  padding-top: 1rem;
}
.nav-link:hover{
  color: white;
}



.active{
  background-color: var(--rojoSecundario);
  color: white;
}

.nav-link:focus,
.nav-link:hover,
.nav-tabs .nav-link
{
  border: none;
  color: white;
}

.nav-item-Esp>a,
.nav-item-Esp>p{
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--rojoSecundario);
}

.nav-item-Esp>p{
  margin: 0.5rem;
}

#botonLogOut{
  font-size: 1.4rem;
  margin: 2rem 0;
}
.icono-header-admin{
  margin: 0.5rem;
}

.formLogOut {
  display: flex;
  justify-content: center;
}

#tab-catalogo,
#tab-eventos,
#tab-estadisticas,
#tab-blog,
#tab-pagina,
#tab-usuarios{
  padding: 6rem;
  height: inherit;
  width: 100%;
}

#tab-catalogo{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}
#tab-eventos{
  background-color: black;
}
#tab-estadisticas{
  background-color: blue;
}
#tab-blog{
  background-color: green;
}
#tab-pagina{
  background-color: teal;
}
#tab-usuarios{
  background-color: violet;
}

.search-container-Admin{
    margin-bottom: 3rem;
    background-color: var(--searchBar);
    padding: 0.7rem;
    width: 100rem;
    border: 1px solid var(--searchBar);
    border-radius: 5rem;
}


.search-input-Admin{
  border: none;
  width: 96%;
  background-color: var(--searchBar);
}

#btnAdd-catalogo{
  width: inherit;
  margin-bottom: 2rem;
}

#btnAdd-catalogo>button{
  border: 1px solid var(--rojoSecundario);
  color: var(--rojoSecundario);
  border-radius: 5rem;
  padding: 1rem;
  background-color: white;
}

#btnAdd-catalogo>button:hover{
  background-color: var(--rojoSecundario);
  color: white;
}

.thead-Admin{
  background-color: var(--crema);
  color: white;
}

.icon-action-Admin{
  margin: 0 0.5rem;
}

.icon-view{
  color: #3D97CB;
}

.icon-edit{
  color: green;
}

.icon-delete{
  color: var(--rojoSecundario);
}

.icon-view:hover{
  color: #2b7097;
}

.icon-edit:hover{
  color: rgb(1, 95, 1);
}

.icon-delete:hover{
  color: #961329;
}

.container-actions{
  width: 10rem;
}

#tHeadISBN{
  width: 16rem;
}

.tr-Admin:hover{
  background-color: var(--searchBar);
}


.Desaparece{
  opacity: 0;
}
.aparece{
  opacity: 1;
}
.notificacion{
  position: fixed;
  bottom: 5%;
  left: 1rem;
  padding: 1rem 3rem;
  opacity: 0;
  transition: opacity .5s ease;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.exito{
  background-color: rgb(179, 241, 117);
  color: green;
}
.error{
  background-color: var(--rojo);
  color: var(--negro);
}
.warning{
  background-color: var(--amarillo);
  color: var(--negro);
}
.sombra{
  box-shadow: 10px 10px 14px -8px rgba(0,0,0,0.75);
}

.visible{
  opacity: 1;
}
