#opcionesPagos{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 26px;
    padding: 0.7rem;
    padding-left: 15px;
    height: 25rem;
    width: 93%;
    border-radius: 5rem;
   
}

#pagoPaypal,#pagoManual{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 26px;
    padding: 0.7rem;
    padding-left: 15px;
    height: 25rem;
    width: 93%;
    border-radius: 5rem;
    color: rgb(7, 7, 7);
    font-size: 2rem;
}

#metodosPago{
    margin-left: 25%;
    margin-top: 2%;
}

#paypal-button-container{
    height: 50rem;
    width: 50rem;
    margin-left: 25%;
    
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-auto-rows: 72px;
}


#datos{

    grid-column: 3/10;
    grid-row: 2/8;
    background-color: #ffff;
    border-style: solid;
    border-color: #CB123F;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 35px;
}

#compra{

    grid-column: 10/16;
    grid-row: 2/18;
    background-color: #ffff;
    border-style: solid;
    border-color: #CB123F;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 35px;
}

#envio{

    grid-column: 3/10;
    grid-row: 8/14;
    background-color: #ffff;
    border-style: solid;
    border-color: #CB123F;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 35px;
}

#pago{

    grid-column: 3/10;
    grid-row: 14/20;
    background-color: #ffff;
    border-style: solid;
    border-color: #CB123F;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 35px;
}
    
    
#titulo{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.8em;
    font-weight: 350;
}


#tablacarrito th{
    width: 80%;
    color: rgb(128, 128, 128);
    font-weight: 400;
    height: auto;
 }

#loaders{
    margin-left: 49%;
}

 #progreso
 {
    display: none ;
 }



.texto1{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 26px;
    background-color: var(--searchBar);
    padding: 0.7rem;
    padding-left: 15px;
    height: 4rem;
    width: 93%;
    border: 1px solid var(--searchBar);
    border-radius: 5rem;
    color: rgb(128, 128, 128);
}

.texto2{
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 26px;
    background-color: var(--searchBar);
    padding: 0.7rem;
    padding-left: 15px;
    height: 4rem;
    width: 45%;
    border: 1px solid var(--searchBar);
    border-radius: 5rem;
    color: rgb(128, 128, 128);
}

.texto3{
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 13px;
    background-color: var(--searchBar);
    padding: 0.7rem;
    padding-left: 15px;
    height: 4rem;
    width: 45%;
    border: 1px solid var(--searchBar);
    border-radius: 0.5rem;
    color: rgb(128, 128, 128);
}

.texto4{
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 26px;
    background-color: var(--searchBar);
    padding: 0.7rem;
    padding-left: 15px;
    height: 4rem;
    width: 45%;
    border: 1px solid var(--searchBar);
    border-radius: 0.5rem;
    color: rgb(128, 128, 128);
}

#botonEnviar{
background-color: #CB123F;
border-radius: 20px;
border-color: #CB123F;
padding: 0.5em;
color: #ffff;
padding-left: 30px;
padding-right: 30px;
margin-top: 10px;
margin-left: 20px;

}

#botonContinuarEnvio{
    background-color: #CB123F;
    border-radius: 20px;
    border-color: #CB123F;
    padding: 0.5em;
    color: #ffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 26px;
    margin-left: 20px;
    
    }


#contenedor1{

    grid-column: 3/16;
    grid-row: 2/9;
    background-color: #ffff;
    margin-bottom: 35px;
}

#contenedor1 h1{

    color: #CB123F;
    font-size: 0.8em;
}

#contenedor1 p{

    font-size: 0.65em;

}

#lista1{

    font-size: 0.65em;
    float: left;

}

#lista2{

    font-size: 0.65em;
    float: left;
    margin-left: 26%;

}

#contenedor2{

    grid-column: 3/16;
    grid-row: 2/11;
    background-color: #ffff;
    margin-bottom: 35px;
}

#contenedor2 h1{

    color: #CB123F;
    font-size: 0.8em;
}

#contenedor2 p{

    font-size: 0.65em;

}

#lista3{

    font-size: 0.65em;
    float: left;
    margin-left: 55%;

}


#contenedor3{
    
    grid-column: 3/16;
    grid-row: 2/11;
    background-color: #ffff;
    margin-bottom: 35px;
    
}

#contenedor3 h1{

    color: #CB123F;
    font-size: 0.8em;
}

#contenedor3 p{

    font-size: 0.65em;

}

#imagen{

    grid-column: 3/7;
    grid-row: 3/7;
    margin-top: -40px;

}

#imagen1{

    
    grid-column: 3/7;
    grid-row: 7/11;
    background-color: rgb(222, 222, 222);
    margin-bottom: 35px;
    
}

#imagen2{

    
    grid-column: 7/12;
    grid-row: 7/11;
    margin-bottom: 35px;
    margin-left: 100px;
    
}

#imagen3{

    
    grid-column: 12/16;
    grid-row: 7/11;
    background-color: rgb(222, 222, 222);
    margin-bottom: 35px;
    
}

#contenedor4{

    
    grid-column: 3/16;
    grid-row: 11/14;
    margin-bottom: 35px;
    
}

#contenedor4 h1{

    color: #CB123F;
    font-size: 0.8em;
}

#contenedor4 p{

    font-size: 0.65em;

}

#contenedor5{

    
    grid-column: 3/16;
    grid-row: 14/17;
    background-color: #ffff;
    margin-bottom: 35px;
    
}

#contenedor5 h1{

    color: #CB123F;
    font-size: 0.8em;
}

#contenedor5 p{

    font-size: 0.65em;

}

#contenedor6{

    
    grid-column: 3/16;
    grid-row: 17/20;
    background-color: #ffff;
    margin-bottom: 35px;
    
}

#contenedor6 h1{

    color: #CB123F;
    font-size: 0.8em;
}


#contenedor7{

    
    grid-column: 3/7;
    grid-row: 19/22;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor7 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor7 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor7 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }

 #contenedor8{

    
    grid-column: 3/7;
    grid-row: 22/25;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor8 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor8 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor8 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }


 #contenedor9{

    
    grid-column: 3/7;
    grid-row: 25/28;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor9 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor9 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor9 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }


 #contenedor10{

    
    grid-column: 3/7;
    grid-row: 28/31;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor10 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor10 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor10 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }

 #contenedor11{

    
    grid-column: 7/11;
    grid-row: 19/22;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor11 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor11 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor11 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }

 #contenedor12{

    
    grid-column: 7/11;
    grid-row: 22/25;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor12 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor12 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor12 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }

 #contenedor13{

    
    grid-column: 7/11;
    grid-row: 25/28;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor13 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor13 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor13 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }

 #contenedor14{

    
    grid-column: 7/11;
    grid-row: 28/31;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor14 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor14 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor14 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }

 #contenedor15{

    
    grid-column: 11/15;
    grid-row: 19/22;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor15 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor15 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor15 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }

 #contenedor16{

    
    grid-column: 11/15;
    grid-row: 22/25;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
}

#contenedor16 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor16 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor16 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }

 #contenedor17{

    
    grid-column:11/15;
    grid-row: 25/29;
    background-color: rgb(240, 240, 240);
    margin-bottom: 35px;
    border-radius: 15px;
    margin-left: 15px;
    padding: 8px;
    padding-top: 15px;
    margin-bottom: 55px;
    margin-bottom: 70px;
}

#contenedor17 p#puesto{

    
   font-size: 0.65em;
   font-weight: 500;
   color: rgb(84, 84, 84);
   margin-bottom: 15px;
   
}

#contenedor17 p#nombre{

    
    font-size: 0.65em;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 15px;
    
 }

 #contenedor17 p#correo{

    
    font-size: 0.65em;
    font-weight: 400;
    color: #CB123F;
    
 }

/*Clases nuevas julieta*/



#contenedor111{

    
    grid-column: 3/16;
    grid-row: 2/7;
    background-color: #ffff;
    margin-bottom: 35px;
    
}

#contenedor111 h1{

    color: #CB123F;
    font-size: 0.8em;
}

#contenedor111 p{

    font-size: 0.65em;

}


#contenedor112{

    
    grid-column: 3/16;
    grid-row: 2/3;
    background-color: #ffff;
   
    
}

#contenedor112 h1{

    color: #CB123F;
    font-size: 0.8em;
}

#contenedor112 p{

    font-size: 0.65em;

}

#mapa {

    grid-column: 3/11;
    grid-row: 5/9;
    margin-left: 20px;
    

}

iframe{
    width: 100%;
    height: 100%;


}

#foto12{

 grid-column: 12/16;
    grid-row: 5/9;
    background-color: rgb(210, 210, 210);

}

#espacio1{
    grid-column: 12/16;
    grid-row: 9/10;
    color: #ffff;

}


#contacto{

    grid-column: 7/16;
    grid-row: 2/8;
    background-color: #F1F1F1;
    border-radius: 20px;
    margin-bottom: 35px;
}

#ContactoListo{
    grid-column: 9/16;
    grid-row: 2/8;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 35px;
}


#datoscontacto{

    grid-column: 3/6;
    grid-row: 2/7;
    

}


#datoscontacto h1{

    color: #CB123F;
    font-size: 0.8em;
}

#datoscontacto p{

    font-size: 0.65em;

}

#datoscontacto ul li{

    font-size: 0.65em;
    list-style: none;
    margin-left: -20px;

}

br {
   
    margin-bottom: 30pxpx;
    font-size:30px;
    line-height: 30px;
  }


  .texto12{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 26px;
    background-color: #ffff;
    padding: 0.7rem;
    padding-left: 15px;
    height: 4rem;
    width: 93%;
    border: 1px #ffff;
    color: rgb(128, 128, 128);
}

.texto13{
    display: flex;
    align-items:center;
    margin-left: 20px;
    margin-top: 26px;
    background-color: #ffff;
    padding: 0.7rem;
    padding-left: 15px;
    height: 11rem;
    width: 93%;
    border: 1px #ffff;
    color: rgb(128, 128, 128);
}


#boton2{

    background-color: #CF9E7D;
    border-radius: 20px;
    border-color:#CF9E7F;
    padding: 0.5em;
    color: #ffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-left: 44%;
    margin-top: -3px;
    
    }






 

 



