
a{
    text-decoration: none;
    color: white;
  }
  
  a:hover{
    text-decoration: none;
    color: white;
  }

  .containerProductos{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-auto-rows: 72px;
      /*grid-column: 3/10;
      grid-row: 11/14;
      /*margin-top: 12.5rem;
      margin-right: 15rem;
      width: 150rem;
      display: flex;
      margin-left: 40rem;
      justify-content: center;
      align-items: center;*/
    }
  
    .catalogoP{
      /*float: left;
      width: 87.5rem;
      height: auto;
      margin-left: 25rem;
      transition: 0.4s;*/
      grid-column: 3/10;
      grid-row: 2/14;
      float: left;
      width: 95.5rem;
      height: auto;
      margin-left: 25rem;
      transition: 0.4s;
      position: relative;
      min-height: 100vh;
    }
    
  #textoPDF a{
    text-decoration: none;
  }
  
  .figure{
    position: relative;
    height: 18rem;
    width: 17rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .figure .card-img-top{
    width: 11rem;
    height: 16rem;
    margin-top: 10px;
    transition: all 500ms ease-out;
  }
  
  .figure .capa{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #F4F3F4;
    margin-left: -2rem;
  }
  
.containerProductos .figure:hover >.capa{
    opacity: 1;
    visibility: visible;
}

.figure .capa #textoPDF{
  color: #717070;
  text-align: center;
  margin-left: 2rem;
}

#textoPDF p{
  
  margin-left: -2rem;
}


.figure .capa #firmaAutor{
  background-color: #EDE75D;
  color: #805721;
  border-radius: 1.5rem;
  margin-left: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
    
/******************************************************+++++grididd**********/
  
  
  /*clase Juan*/

#verMasP{
  color: white;
  margin-bottom: 0px !important;
}

.botonVermas{
  width: 15rem;
  margin-top: 5rem;
  color: white;
  margin-left: 45.3%;
}

.botonVermasF{
  background-color: #ACACAC;
  border-radius: 10rem;
  border-style: none;
  padding: 10px;
  padding-right: 16px;
  padding-left: 16px;
}
#txtVerMas{
  color: white;
  font-size: 1.7rem;
 
}


  .audio{
    margin-top: 5rem;
    

  }

  .filtros{
    grid-column: 2/10;
    grid-row: 2/8;
    width: 20rem;
    /*margin-top: 12.5rem;
    margin-left: 15rem;
    float: left;
    display: flex;
    flex-direction: column;*/
  }
  
  .card{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #F4F3F4;
      background-clip: border-box;
      border: 1px solid rgb(0,0,0m,.125);
      border-radius: 1.5rem;
      width: 25rem;
      height: 38rem;
      margin-block: 1rem;
    }
    
.card-body{
      padding: 1.25rem;
      flex: 1 1 auto;
}

.card-body img{
  width: 55%;
}
    
#btnLeerF{
  color: rgb(255, 255, 255) ;
  background-color: #CB123F;
  border-color: #CB123F;
  border-style: solid;
  border-radius: 2.18rem;
  margin-left: 0.6rem;
  padding: 0.7rem;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 0.92em;
  margin-right: 10px;
  
}


.btnS1{

  color: rgb(255, 255, 255) ;
  border-style: solid;
  border-color: #F4F3F4;
  border-style: solid;
  border-radius: 10rem;
  
}


#vaciar-carrito,
#procesar-pedido{
  width: 10rem;
  font-size: larger
  
}


#imgComprar{
  width: 10rem;
  height: auto;
  margin-right: 0.5rem;
  padding: 0.3rem;
  float: left;
}


#comprarTXT{
  float: left;
  padding-top: 0.5rem;
}

    
.btnS2{
      color: rgb(255, 255, 255);
      background-color: #3D97CB;
      border-color: #3D97CB;
      border-style: solid;
      border-radius: 2.18rem;
      margin-left: 0.18rem;
      padding-right: 1em;
      padding-left: 1em;
      font-size: 0.97em;
      margin-top: 6px;
      padding-top: 7px;
      padding-bottom: 5px;
      
}

    #carrito{
      margin-top: 0;
      /* height: 100%; */
      grid-column: 9/16;
      grid-row: 1/12;
      background-color: #E6E6E6;
      /* position: absolute; */
      display: none;
      width: 55rem;
      z-index: 1;
    }
    
  .card-title{
      color:   #333333;
      font-family: 'Barlow', sans-serif;
    }
    
    #autor{
      color: #808081;
      font-size: 1.03em;
      font-family: 'Barlow', sans-serif;
    }
    
    .container{
      padding-top: 5rem;
      width: 70%;
      display: flex;
    }
    
    .container #seccion{
      height: 18.75rem;
    
    }
    
    .btnVermas{
        color: white;
        background-color: #3D97CB;
        border-color: #3D97CB;
        border-style: solid;
        border-radius: 2.18rem;
        
  }
  .btnVermas2{
    color: white;
    background-color: #3D97CB;
    border-color: #3D97CB;
    border-style: solid;
    border-radius: 2.18rem;
    text-decoration: none;
    
    
  }
  .btnVermas2 a{
    color: white;
    
  }

#TextoCarritoCompras{
  text-align: center;
}

.modalContenidoLibro{
  float: left;
}
.modalContenidoLibro{
  text-align: center;
  font-size: medium;
  margin-left: 2rem;

}
.imgModal{
  width: 15rem;
  height: 18rem;
}

.modalTabla{
  margin-top: 3rem;
  float: left;
  height: auto;
  width: 40rem;
  margin-left: 15rem;
}


.btn-tiendas{
  grid-column:5/16;
  grid-row: 2/8;
}


.detallesLibro{
      
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 35px;
  grid-auto-rows: 72px;
  margin-top: 10rem;

}



.asideIzq{
      grid-column: 2/16;
      grid-row: 1/8;
      width: 30rem; 
      height: 40rem;  
      float: left;
      margin-left: 0rem;
      text-align: center;

}
    
#infoLibro{
      grid-column: 7/16;
      grid-row: 1/8;
      width: 50rem;
      height: 31.25rem;
      float: left;
      text-align: justify;
      margin-left: 10rem;
    }
    
#asideDer{
      grid-column: 13/16;
      grid-row: 1/8;
      margin-right: 0;
      width: 30rem; 
      height: 31.25rem;  
      float: left;
      margin-left: 10rem;
    }
    
    #nombreLibro{
      text-align: center;
      font-size: 1.2em;
      font-family: 'Barlow', sans-serif;
      margin-bottom: 11px;
    }
    .imgDetallesLibro{
      width: 15rem;
      height: 18rem;
      margin-left: 7rem;
    }
    
    .btnS1D{
      color: #CB123F ;
      background-color: rgb(228, 172, 172);
      border-color: rgb(228, 172, 172);
      border-style: solid;
      border-radius: 35px;
      margin-top: 1rem;
      margin-left: 6rem;
      margin-bottom: 0.6rem;
      opacity: 2;
      float: float;
      text-decoration:none;
    }
    
    .btnS1D:hover{
      background-color: var(--rojoSecundario);
      color: white;
      border-color: #CB123F ;
    }
    
    
    #detallesLibroPrecio{
      padding-top: 5px;
      color: #CB123F;
      margin-left: 8rem;
      margin-bottom: 0.6rem;
      padding-top: 1rem;
      font-size: x-large;
      
    }
    
    #iconoAutor,
    #iconoISBN,
    #iconoColeccion,
    #iconoNumEd,
    #iconoPags{
      width: 9rem;
      height: 7rem;
    }
    
.btn-group{
  height: 4rem;
}

#detallesLibroCantidad{
  font-size: large;
}

    #tablaDetalles{
      color: #717070;
      margin-left: 0.18rem;
      height: 12.5rem;
      width: 40rem;
    }
    
    #borderTabla{
      border-color: #717070;
      border-radius: 1em;
      border-style: solid;
      width: 40rem;
    }
    
  .card{
    border-style: solid;
    border-color: white ;
  }
    
  
#carrito{
    margin-top: 0;
    /* height: 100%; */
    grid-column: 8/16;
    grid-row: 1/12;
    background-color: #E6E6E6;
    /* position: absolute; */
    display: none;
    width: 55rem;
    z-index: 1;
    margin-left: 8rem;
  }

  /*catalogo*/

@media (max-width: 1750px) {
    .btn-tiendas{
       grid-column: 2/16;
       grid-row: 8/12;
       width: 1500px;
     }
     #infoLibro{
       grid-column: 5/16;
       grid-row: 1/12;
       width: 700px;
     }
     #asideDer{
       grid-column: 12/16;
       grid-row: 1/20;
      }
   
   }
   
   @media  (max-width: 1654px) {
     body{
       overflow-x: hidden;
     }
   
     #infoLibro{
        grid-column: 5/16;
        grid-row: 1/12;
        width: 500px;
      }
      #asideDer{
       grid-column: 10/16;
       grid-row: 1/20;
      }
    }
   
    @media  (max-width: 1334px) {
     body{
       overflow-x: hidden;
     }
   
     .asideIzq{
       grid-column: 3/20;
       grid-row: 1/16;
       width: 300px;
       height: 100px;
       flex: auto;
       justify-content: center;
       align-items: center;
   
     }
     .btn-tiendas{
       grid-column: 3/17;
       grid-row: 8/16;
       margin-left: 22rem;
       margin-top: 2rem;
     }
     #infoLibro{
       grid-column: 2/16;
       grid-row: 9/18;
       width: 701px;
       height: 100px;
   
      }
      #asideDer{
       grid-column: 5/16;
       grid-row: 1/20;
       width: 4px;
       height: 44rem;
       
      }
      .audio {
       margin-top: 11rem;
       margin-left: 17rem;
     }
   
   
     #iconoAutor, #iconoISBN, #iconoColeccion, #iconoNumEd, #iconoPags {
       width: 6rem;
       height: 5rem;
     }
     #carrito {
       margin-top: 0;
       margin-left: 44rem;
       height: 100% !important;
       display: none;
       z-index: 1;
     }

     /*catalogo*/
     .col-lg-4 {
        flex: 0 0 auto;
        width: 28.333333%;
    }
    .catalogoP {
        grid-column: 1/10;
        grid-row: 5/14;
        float: left;
        width: 92.5rem;
        height: auto;
        margin-left: 13rem;
        transition: 0.4s;
    }
}
    
    @media (max-width: 972px) {
     body{
       overflow-x: hidden;
     }
   
     .asideIzq{
       grid-column: 1/16;
       grid-row: 1/16;
       width: 500px;
       height: 100px;
       flex: auto;
       justify-content: center;
       align-items: center;
   
     }
     .btn-tiendas{
       grid-column: 4/16;
       grid-row: 8/16;
     }
     #infoLibro{
        grid-column: 2/16;
        grid-row: 9/12;
        width: 750px;
        height: 100px;
        font-size: 20px;
      }
      #asideDer{
       grid-column: 6/16;
       grid-row: 1/20;
       width: 6px;
       height: 70rem;    
      }
   
      .modal{
       margin-top: 300px;
       margin-left: 150px;
      }
      .modal-backdrop.fade{
       height: 100%;
       width: 100%;
      }
      



      /*catalogo*/

      .catalogoP{
       grid-column: 2/10;
       grid-row: 2/16;
       margin-left: 25rem;
      }
      .row-cols-md-3>* {
       float: 0 0 auto;
       width:20%;
      }
   
      .card {
        width: 20rem;
        height: 32rem;
    }
       
    .figure .card-img-top {
        width: 10rem;
        height: 12rem;
        margin-right: 0.5rem;
        transition: all 500ms ease-out;
    }
   
       #nombreLibro{
         text-align: center;
         font-size: 10px;
         margin-top: -4rem;
       }
   
       #autor{
         font-size: small;
       }
       a{
         font-size: 10px;
       }
       #btnReproducirAudio{
         max-width: 35px;
         margin-top: 5px;
       }
       #btnLeerF{
         margin-top: -8px;
       }
   
      .filtros{
       grid-column: 1/16;
       grid-row: 2/14;
       margin-left: 20px;
       margin-top: 13px;
      }
   
      .figure .capa {
       height: 100%;
       width: 150px;
     }
   
     .figure .capa #textoPDF {
       color: #717070;
       text-align: center;
       margin-left: 2rem;
       font-size: small;
     }
   
     #firmaAutor{
       font-size: small;
     }
   
     .col-md-6 {
       flex: 0 0 auto;
       width: 26%;
       
     }
     .modalTabla {
       margin-top: 3rem;
       float: left;
       height: auto;
       width: 40rem;
       margin-left: 5rem;
   }
   .modalContenidoLibro {
     text-align: center;
     font-size: medium;
     margin-left: 15rem;
   }
   .catalogoP {
    grid-column: 1/10;
    grid-row: 5/16;
    margin-left: 7rem;
   }
   #carrito {
    margin-top: 0;
    margin-left: -65rem;
    height: 126% !important;
   }
}

@media  (max-width: 600px) {
        body{
        overflow-x: hidden;
        }
    
        .asideIzq{
        grid-column: 5/16;
        grid-row: 1/16;
        width: 500px;
        height: 100px;
        flex: auto;
        justify-content: center;
        align-items: center;
        }
        #textoPDF{
            margin-top: 21rem;
        font-size: 32px;
        
        }
        #nombreLibro{
            margin-top: 2rem;
            font-size: 46px;
        }
        .btn-tiendas{
        margin-left: 200px;
        grid-row: 12/16;
        }
        #infoLibro {
        grid-column: 2/16;
        grid-row: 11/16;
        font-size: 25px;
        width: 795px;
    }
        #asideDer{
        grid-column: 4/16;
        grid-row: 23/23;
        }
    
        #idTiendas{
        font-size: 25px;
        }
        .modal{
            margin-top: 80rem;
            margin-left: 21rem;
        width: 1850px;
        height: 850px;
        }
        .modalContenidoLibro{
        margin-left: 200px;
        }
    
        .modal-backdrop.fade{
        height: 100%;
        width: 100%;
    
        }
        #iconoAutor, #iconoISBN, #iconoColeccion, #iconoNumEd, #iconoPags {
            width: 11rem;
            height: 14rem;
        }
        .table-borderless>:not(caption)>*>* {
            border-bottom-width: 0;
            font-size: 29px;
            margin-left: 44px;
        }
        #borderTabla {
            border-color: #717070;
            border-radius: 1em;
            border-style: solid;
            width: 56rem;
        }
        #tablaDetalles {
        color: #717070;
        margin-left: 0.18rem;
        height: 12.5rem;
        width: 53rem;
        }
        .audio {
            margin-top: 8rem;
            margin-left: 23rem;
        
        }
    .modalContenidoLibro {
        margin-left: 126px;
    }
    .modalTabla {
        margin-top: 3rem;
        float: left;
        height: auto;
        width: 40rem;
        margin-left: 6rem;
    }
    #carrito {
      margin-top: 0;
      margin-left: -5rem;
      height: 126% !important;
      width: 47rem;
  }
    #autor{
        font-size: 7rem;
    } 

    #nombreLibro {
        margin-top: -4rem;
        font-size: 20px;
    }
    #autor {
        font-size: 2rem;
    }
    #btnReproducirAudio {
        max-width: 35px;
        margin-top: 5px;
        margin-left: 5rem;
    }
    a {
        font-size: 12px;
    }
    .card {
        width: 20rem;
        height: 38rem;
    }
    #TextoCarritoCompras {
        text-align: center;
        font-size: small;
    }
    #vaciar-carrito, #procesar-pedido {
        width: 7rem;
        font-size: small;
        margin-left: auto;
        margin-right: 1rem;
    }
    .filtros {
        grid-column: 6/16;
        grid-row: 2/14;
        margin-left: 13rem;
        margin-top: 13px;
    }
    .text-center {
        text-align: center!important;
        flex-direction: column;
    }
    .catalogoP {
        grid-column: 8/10;
        grid-row: 5/16;
        margin-left: 7rem;
    }

}


/*Carrio.php LISTAS...*/
@media (max-width: 1334px){

    #paypal-button-container{
        height: 3rem !important;
        width: 200px;
        margin-left: 10%;
    }
    
    #pagoManua{   

        font-size: 18px;
        margin-top: -20px;
        margin-left: 18rem;
    }
    #paypal-button-container{
        height: 3rem !important;
        width: 25px;
        margin-left: 10%;
    }
    #datos {
        grid-column: 1/16;
        margin-left: 15rem;
        width: 89rem;
    }
    #envio{
        width: 900px;

    }
    #compra{
        grid-column: 3/10;
        grid-row: 14/26;
    }
    #pago{
        grid-column: 3/10;
        grid-row: 26/32;
    }
    .form-contro{
      font-size: 2rem;
    }
    #tablacarrito th{
        font-size: 28px;
    }
    td{
        font-size: 23px
    }
    .btn-lg {
        font-size: 20px;
    }
    #metodosPago{
        font-size: 20px;
    
    }
}

@media (max-width: 972px){

    #botonEnviar{
        width: 127px;
        font-size: 16px;
    }

    #pagoManua{
        font-size: 20px;
        margin-top: -29px;
    }
    #metodosPago{
        font-size: 20px;
    }
    #paypal-button-container{
        height: 3rem !important;
        width: 25px;
        margin-left: 10%;
    }
    #datos{
        grid-column: 2/10;
        margin-left: 7rem;
        width: 64rem;
    }
    #envio{
        width: 611px;
    }
    #compra{
        grid-column: 3/10;
        grid-row: 14/25;
    }
    #pago{
        grid-column: 3/10;
        grid-row: 25/31;
    }

    .form-contro{
        font-size: 19px;
    }
    #tablacarrito th{
        font-size: 22px;
    }
    td{
        font-size: 23px
    }
    .btn-lg {
        font-size: 20px;
    }
    #metodosPago{
        font-size: 20px;
    
    }
}

@media (max-width: 768px){
    #botonEnviar{
        width: 127px;
        font-size: 16px;
    }

    #pagoManua{
        font-size: 20px;
        margin-top: -29px;
    }
    #metodosPago{
        font-size: 20px;
    }
    #paypal-button-container{
        height: 3rem !important;
        width: 25px;
        margin-left: 10%;
    }
    #datos{
        grid-column: 2/10;
        margin-left: 7rem;
        width: 54rem;
    }
    #envio{
        width: 540px;
    
    }
    #compra{
        grid-column: 3/10;
        grid-row: 14/25;
    }
    #pago{
        grid-column: 3/10;
        grid-row: 25/31;
    }

    .form-contro{
        font-size: 18px;
    }
    #tablacarrito th{
        font-size: 20px;
    }
    td{
        font-size: 19px;
    }
    .btn-lg {
        font-size: 20px;
    }
    #metodosPago{
        font-size: 20px;
    
    }
}

@media (max-width: 600px){
    #botonEnviar{
        width: 127px;
        font-size: 16px;
    }

    #pagoManua{
        font-size: 20px;
        margin-top: -29px;
    }
    #metodosPago{
        font-size: 20px;
    }
    #paypal-button-container{
        height: 3rem !important;
        width: 25px;
        margin-left: 10%;
    }
    #datos{
        grid-column: 1/10;
        margin-left: 7rem;
        width: 54rem;
    }
    #envio{
        width: 528px;
        grid-column: 2/10;
    
    }
    #compra{
        grid-column: 2/10;
        grid-row: 14/25;
        width: 517px;
    }
    #pago{
        grid-column: 2/10;
        grid-row: 25/33;
        margin-right: 20px;
    }

    .form-contro{
        font-size: 18px;
    }
    #tablacarrito th{
        font-size: 20px;
    }
    td{
        font-size: 19px;
    }
    .btn-lg {
        font-size: 20px;
    }
    #metodosPago{
        font-size: 20px;
    
    }
    
}

