.toggle-img2{
    display: none;
}

@media (max-width: 1400px){
    .navBar{
        font-size: 1.6rem;
    }

    .swiper-button-next, .swiper-button-prev {
        margin-top: 20% !important;
      }
}

@media (max-width: 1338px){
    .navBar{
        font-size: 1.6rem;
    }
    .header-option1{
        margin-left: 10% !important;
        width: 150px;
      }
    
    .header-option2{
    margin-left: 10px;
    }

    .header-options{
        font-size: 1.2rem;
    }

    .swiper-button-next, .swiper-button-prev {
        margin-top: 18% !important;
      }
}

@media (max-width: 1163px){
    .navItem{
        font-size: 1.4rem;
    }


}

@media (max-width: 1046px){
    .search-input{
        width: 81%;
      }
      .logo{
        margin-left: 4rem;
        margin-right: 4rem;
      }

      .navItem{
        font-size: 1.2rem;
    }

    .swiper-button-next, .swiper-button-prev {
        margin-top: 24% !important;
    }

    .evento{
        margin: 2rem 3rem;
    }
}


@media (max-width: 864px){
    .logo{
        margin-left: 2rem;
        margin-right: 2rem;
      }
      .info-evento {
        width: 90%;
        margin: 0px 3rem;
    }
}

/*Visto Movil Menu de hamburguesa*/
@media (max-width: 767px){
/*CEL VIEW*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    /* color: #CB123F; */
    overflow-x: hidden;
    transition: 1s ease;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    z-index: 401;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    
    }


    #closeSideNav{
        color: #CB123F;
        font-size: 1.6rem;
        display: flex !important;
        justify-content: flex-end;
    }

    .sidenav a,
    .sidenav div{
        transition: .5s ;
        display: flex;
        justify-content: flex-start;
        text-align: start;
        color: #CB123F;
        font-size: 1.6rem;
    }

    .sidenav a:hover,
    .sidenav div:hover{
        background-color: #E6E6E6;
    }
    .layer{
        position: absolute ;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 401 ;
        min-height:100%;
        background-size:cover;
        box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
        transition: .5s;
    }
    
    .layerEsp{
        box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
        transition: .5s;
    }
    
    .fakeLayer{
        opacity: 0.7;
    }
    
    .burguer-menu-icon{
        font-size: 2.6rem;
        color: #391C08;
        margin: 0 2rem 0 0;
        top: 0;
        right: 0;
        display: block;
    }

    .header-option{
        justify-content: flex-start;
        width: auto;
    }

    .header-options{
        display: none;
    }

    .show{
        display: block;
    }

    .search-input {
        width: 91%;
    }

    .swiper-button-next, .swiper-button-prev {
        margin-top: 22% !important;
    }
    .swiper-pagination{
        bottom: 45% !important;
      }

      .evento{
        margin: 2rem 2rem;
    }

    .flex-container-E {
        flex-direction: column;
        height: 70%;
    }

    #textoblog1 img#img1 {
        width: 12%;
    }


}

@media (min-width: 768px){
    .burguer-menu-icon,
    .closebtn{
        display: none;
    }

    .navBar{
        opacity: 1;
    }
    
}

@media (max-width: 560px){
    .search-input {
        width: 80%;
    }
    .swiper-button-next, .swiper-button-prev {
        margin-top: 35% !important;
    }

    .evento{
        flex-direction: column;
        align-items: center;
        width: 88%;
    }

    .info-evento {
        margin: 10px 3rem;
    }

    .cuadroblog{
        flex-direction: column;
        align-items: center;
    }

    .img-Blog{
        max-width: 40%;
    }

    .tituloblog {
        width: 100%;
        margin-top: 10%;
    }

    .texto-justificado{
        font-size: 1.4rem;
    }

    #contenidoBlog{
        display: flex;
        height: auto;
        flex-direction: column;
        height: 50rem;
        align-items: center;
    }

    #textoblog1{
        width: 100%;

    }

    .footer{
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        margin-top: 20rem;
    }
}

@media (max-width: 450px){
    .swiper-button-next, .swiper-button-prev {
        margin-top: 45% !important;
    }

    #tituloblog1{
        padding-bottom: 25%;
    }
}



.show{
    display: none;
}

.tituloblog p#resumen {
    text-align: justify;

}

.texto-justificado{
    text-align: justify;
    overflow: auto;
}

#tituloblog1 img {
    width: 35%;
}

.footer{
    width: 100%;
}

#cuadroleer1{
    padding: 5%;
}

#textoblog1 {
    height: 60rem;
    padding: 2rem;
}

.section,
#cuadroleer1{
    height: inherit;
}