<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
        </script>
    
        <link rel="stylesheet" href="../FontAwesome/css/all.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
        <link rel="stylesheet" href="../common/Normalize.css">
        <link rel="stylesheet" href="../common/estilos.css">
        <link rel="stylesheet" href="../common/estilosCarrito.css">
    
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    </head>
<body>

    <div class="section">
        <div class="grid">


            <div id="cuadroleer1">

              

                <div id="tituloblog1">
                    <h1>Consejos de Ernest Hemingway</h1>
                    <p id="nombre">Ernest Hemingway</p>
                    <p id="fecha">20 junio 2022</p>
                    
                    <div id="textoblog1">
                        <p>Escribe frases breves. Comienza siempre con una oración corta. Utiliza un inglés vigoroso. Sé positivo, no negativo.

                            La jerga que adoptes debe ser reciente, de lo contrario no sirve.
                            
                            Evita el uso de adjetivos, especialmente los extravagantes como “espléndido, grande, magnífico, suntuoso”.
                            
                            Nadie que tenga un cierto ingenio, que sienta y escriba con sinceridad acerca de las cosas que desea decir, puede escribir mal si se atiene a estas reglas.
                            
                            Para escribir me retrotraigo a la antigua desolación del cuarto de hotel en el que empecé a escribir. Dile a todo el mundo que vives en un hotel y hospédate en otro. Cuando te localicen, múdate al campo. Cuando te localicen en el campo, múdate a otra parte. Trabaja todo el día hasta que estés tan agotado que todo el ejercicio que puedas enfrentar sea leer los diarios. Entonces come, juega tenis, nada, o realiza alguna labor que te atonte sólo para mantener tu intestino en movimiento, y al día siguiente vuelve a escribir.
                            
                            Los escritores deberían trabajar solos. Deberían verse sólo una vez terminadas sus obras, y aun entonces, no con demasiada frecuencia. Si no, se vuelven como los escritores de Nueva York. Como lombrices de tierra dentro de una botella, tratando de nutrirse a partir del contacto entre ellos y de la botella. A veces la botella tiene forma artística, a veces económica, a veces económico-religiosa. Pero una vez que están en la botella, se quedan allí. Se sienten solos afuera de la botella. No quieren sentirse solos. Les da miedo estar solos en sus creencias…
                            
                            A veces, cuando me resulta difícil escribir, leo mis propios libros para levantarme el ánimo, y después recuerdo que siempre me resultó difícil y a veces casi imposible escribirlos.
                            
                            Un escritor, si sirve para algo, no describe. Inventa o construye a partir del conocimiento personal o impersonal.
                        </p>

                           

                        
                        
                        <div class="flex-container-E">
                            <p id="compartir">Compartir</p>
                            <img id="img1" src="../Icons/compartirrojo.svg" alt="">
                            <img id="img1" src="../Icons/twitterrojo.svg" alt="">
                            <img id="img1" src="../Icons/fbrojo.svg" alt="">
                            <img id="img1" src="../Icons/instarojo.svg" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>


            </div>        
        </div>
    </div>

</body>
</html>
